.toolbar-logo{
  margin-right: 20px;
}

// ion-content.full-screen{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
// .fullscreen-form-container{
//   width: 500px;
//   height: 500px;
// }

.form{
  margin-top: 100px;
  max-width: 500px;
}

.center-button{
  display: flex;
  justify-content: center;
}