<ion-header>
  <ion-toolbar>
    <ion-title>Upload Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

 <div class="camera">
  <div *ngIf="currentFileUpload" class="progress mt-2">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: percentage + '%' }"
    >
      {{ percentage }}%
    </div>
  </div>
 </div>

 <input type="file" (change)="selectFile($event)"/>

 <div class="profile-form-container">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">File Name</ion-label>
      <ion-input type="text" [(ngModel)]="filename"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Subject</ion-label>
      <ion-input type="text" [(ngModel)]="subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Year</ion-label>
      <ion-input type="text" [(ngModel)]="year"></ion-input>
    </ion-item>
  </ion-list>
</div>




 <button mat-raised-button (click)="onSubmit()"> Submit </button>
 

</ion-content>
