<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <mat-card class="welcome-profile-card" *ngIf="authguard.isLoggedIn()">
    <mat-card-title>
       Welcome Logged-in User <span *ngIf="authguard.getCurrentUser"> {{authguard.displayName}}</span>
    </mat-card-title>
    <mat-card-content>
      Modify your latest posts below.
    </mat-card-content>
  </mat-card>
  <h2> Edit your posts below </h2>
  <mat-card class='file-card' *ngFor="let file of fetcher.fetchedFiles">
    <mat-card-title-group>
      <img src='https://via.placeholder.com/50'>
      <mat-card-title> {{file.displayName}} </mat-card-title>
      <mat-card-subtitle> {{file.year}} </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      Subject: {{file.subject }} <br>
      Professor: {{ file.professor }}<br>
      Date Posted: {{file.datePosted}} <br>
      (...)
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/tabs/edit', file.id]"> Edit </button>
      <button mat-raised-button (click)="fetcher.deleteFile(file.id)"> Delete </button>
    </mat-card-actions>
  </mat-card>

  <button mat-raised-button color="warn" (click)="authguard.logOut()"> Log Out </button>

  





  <!-- <div class="profile-form-container">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Display Name</ion-label>
      <ion-input type="text" [(ngModel)]="displayname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Avatar URL</ion-label>
      <ion-input type="text" [(ngModel)]="photourl"></ion-input>
    </ion-item>
  </ion-list>
  <div class='button-container-center'> 
    <button mat-raised-button color="primary" (click)="authguard.updateCurrentUser(displayname,photourl)"> Save details </button>
  </div>
</div> -->

 

</ion-content>
